@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo.uros {
  height: 16em;
  margin: auto;
}
.logo:hover {
  filter: drop-shadow(0 0 1em #41D9D9);
  animation: logo-spin 1s linear;
}
.logo.react:hover {
  filter: drop-shadow(0 0 1em #266B73);
}

.logo-h{
  height: 8em;
  padding: 1.5em;
  margin: auto;
}

.logo-upv{
  height: 10em;
  padding: 1.5em;
  margin: auto;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* UROS Styles Added */
.navbar-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar-list button {
  display: inline-block;
  vertical-align: middle;
}

.button {
  background-color: #1a1a1a;
}

.button:disabled {
  background-color: transparent;
  color: #999;
  cursor: not-allowed;
}


.form-div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.form-div label{
  padding: 15px;
}

.form-div input{
  border-radius: 8px;
  background-color: #1a1a1a;
  border: 1px solid #ccc ;
  color: #ccc;
  padding: 5px;
  margin: 5px;
}

.form-div input:focus{
  border-color: #41D9D9;
}

.form-div input:focus-visible{
  border-color: #41D9D9;
}

.form-div input:hover {
  border-color: #41D9D9;
}

